@value makerpink,makerGreen, makerBlue, makerMint, makerBrown, makerOrange, makerWhite from '../../common/colors.module.css';
@value fontLogo, fontMenu, fontHome,fontPoint from '../../common/font.module.css';

.home {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../../imgs/backgound.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30vw 0px;
}

.div_container {
    display: flex;
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;

}

.avatar {
    border:  1px solid blue;
    flex: 1;
    margin-right: 0;
}

.title {
    position: relative;
    top: 40%;
    left: 45%;
    font-size: 1.5rem;
    font-family: fontLogo;
    transform: rotate(-13deg);
    color: makerBrown;
}

.avatarIMG {
    width: 22rem;
    position: relative;
    top: 35%;
    left: 45%;
}

.intro {
    flex:1;
    border:  1px solid yellowgreen;
}

/* @keyframes line_move {
    0% {
        top: 0px;
    }
    100% {
        top: -8px;
    }
}

@keyframes scale {
    0% {
        top: -32px;
    }
    100% {
        top: -40px;
    }
}

@keyframes scale-2 {
    0% {
        top:84px;
    }
    100% {
        top:76px;
        text-shadow: #302f2f 1px 1px 0;
    }
}

@keyframes point {
    0% {

    }
    100% {
        transform: scale(1.01);
    }
} */

/*반응형*/

@media screen and (max-width: 768px) {
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 1050px;
    }

    .avatar {
        top: 0;
        left: 10%;
    }

    .intro {
        top: 50%;
        left: 0;
        text-align: center;
        margin: auto;
    }

    .home_cut_container, .home_cut, .home_cut_background {
        display: none;
    }

    .contents {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        top: 70%;
        height: 20rem;
    }

    .contents_box {
        text-align: center;
        margin: auto;
    }

    .contents_box:nth-child(2n) > div {
        right: 300px;
    }

    .point  {
        font-size: 3rem;
        text-align: center;
        left: 7%;
    }

    .text {
        text-align: center;
        font-size: 1.7rem;
        left: -100px;
    }

}