@value makerpink, makerMint, makerBrown, makerOrange from '../../common/colors.module.css';
@value fontMenu '../../common/font.module.css';

/*기본 navbar styles*/

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    z-index: 105;
    transition: all 0.3s ease-in;
}


.navbar_logo {
    padding-left: 7%;
}

.title {
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
    color: makerMint;
    text-decoration: none;
    align-items: center;
}

.title > p {
    margin: 0;
    margin-left: 1.2rem;
    text-shadow: -1px 0 makerBrown, 0 1.5px makerBrown, 1.5px 0 makerBrown, 0 -1px makerBrown;
}


.navbar_menu {
    list-style: none;
    padding-left: 0;
    display: flex;
}

/*active CSS*/


.active {
    color: white;
    width: 100%;
    text-shadow: -1px 0 makerBrown, 0 1px makerBrown, 1px 0 makerBrown, 0 -1px makerBrown;
}

.navbar_menu_item {
    padding: 8px 12px;
    margin: 0 3px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Paytone One', sans-serif;
    border: none;

    display: inline-block;
    line-height: 1rem;
    color: makerBrown;
    position: relative;
    
}

.navbar_menu_item::before{
    content: attr(data-text);
    padding: 8px 12px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.3s ease-in;
    transition-property: color, width;
}


.navbar_menu_item:hover:before {

    color: white;
    width: 100%;
    text-shadow: -1px 0 makerBrown, 0 1px makerBrown, 1px 0 makerBrown, 0 -1px makerBrown;
    /* text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-position: under; */
}



/*changed*/
.changed_navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0.1rem;
    padding-bottom: 0;
    padding-right: 1rem;

    backdrop-filter: blur(5px);
    z-index: 100;
    transition: all 0.3s ease-in;
    border-bottom: 1px solid grey;
    box-shadow:         0px 3px 6px 0px rgba(50, 50, 50, 0.3);
}

.changed_logo {
    padding-left: 7%;
}

.changed_title {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    color: makerMint;
    text-decoration: none;
    align-items: center;
}

.changed_title > p {
    margin: 0;
    margin-left: 1rem;
    text-shadow: -1px 0 makerBrown, 0 1.5px makerBrown, 1.5px 0 makerBrown, 0 -1px makerBrown;
}

.changed_menu {
    list-style: none;
    padding-left: 0;
    
}

.changed_menu {
    display: flex;
}

.changed_item {
    padding: 8px 12px;
    margin: 0 3px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Paytone One', sans-serif;
    border: none;

    display: inline-block;
    line-height: 1rem;
    color: makerBrown;
    position: relative;
}


.changed_item::before{
    content: attr(data-text);
    padding: 8px 12px;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.3s ease-in;
    transition-property: color, width;
}


.changed_item:hover:before {
    color: white;
    width: 100%;
    text-shadow: -1px 0 makerBrown, 0 1px makerBrown, 1px 0 makerBrown, 0 -1px makerBrown;
    /* text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-position: under; */
}


