.btn {
    cursor:pointer;
    width: 13rem;
    height: 4rem;
  
/* 위치 */
/* position: relative;
left: 250px;
top: 150px; */

/* 상자 디자인 큰틀*/
margin-bottom: 30px;
border: 0px;
background-color: #252225;
    
/* 그림자 */
border-radius: 10px;
box-shadow:.8rem .5rem 1.4rem  #BEC5D0, -.3rem -.4rem .8rem #FBFBFB;
box-shadow:-.2rem -.2rem 1.8rem white, .8rem .8rem 1.4rem  #AAB7CB;

/* 글씨 */
color: #FBFBFB;
font-size: 1.5em;
font-weight: bold;

animation-name: keybtn-language;
animation-duration: .2s;

}

/*버튼 눌리는 효과*/
.btn:active {
    font-size:1.4rem;
    box-shadow: inset -.3rem -.1rem 1.4rem  #000000, inset .3rem .4rem .8rem #BEC5D0;  
    cursor: pointer;

}

/*a태그*/
a {
    text-decoration: none;
    color:#FBFBFB
}

