@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic:wght@700&family=Poor+Story&family=Libre+Barcode+128+Text&family=IBM+Plex+Sans+KR&family=IBM+Plex+Sans+KR:wght@300;400;500;600;700&family=Nanum+Gothic:wght@400;700;800&family=Gowun+Dodum&family=Noto+Sans:wght@300;400;500&family=Pacifico&family=Paytone+One&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    cursor: default;
    overflow-x: hidden;
}

html {
    scroll-behavior:smooth;
}